html, body
  margin 0
  padding 0
  overflow hidden
  position: relative
canvas
  width 100%
  height 100%
  outline none
  

.all
  display none
  z-index 1

.openIntro
  transform: translateX(-150%)

.hidden
  opacity: 0
  z-index -1 !important

.js-openInfo
  z-index 200

.iframe-container
  z-index 500
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 85%
  height: 85%
  padding: 40px
  border: 5px solid #FFD400
  transition: .3s ease-in-out

  .closeIframe
    position: absolute
    top: 5%
    right: 5%
    width 40px
    height 40px
    border-radius: 50%
    border: 5px solid #FFD400
    cursor pointer

    &:hover
      .first-bar
        transform: translate(-50%,-50%) rotate(45deg)

      .second-bar
        transform: translate(-50%,-50%) rotate(-45deg)

    .first-bar
      transform: translate(-50%,-50%) rotate(0deg)

    .second-bar
      transform: translate(-50%,-50%) rotate(0deg)

    .bar-close
      width: 30px
      height 3px
      background-color #FFD400
      display block 
      position: absolute
      top: 50%
      left: 50%
      transition: .5s ease-in-out
      transform-origin: center center
    

.intro
  background-color #141414
  width 100%
  height 100%
  position: fixed
  z-index 9999
  top: 0
  display flex
  flex-flow row wrap
  align-items: center
  justify-content: space-around
  margin 0
  overflow: hidden
  transition .5s ease-in-out

  p
    font-size 18px
    color: #ffffff
    font-family: 'Roboto Mono', monospace;
    position absolute
    bottom 5%
    left: 50%
    transform translateX(-50%)

    a
      color #fff
      text-decoration none
      position relative

      &:hover
        &::after
          transform: scaleX(1)

      &::after
        content ''
        width: 100%
        height: 2px
        background-color #fff
        position absolute
        left 0
        bottom -20%
        transform: scaleX(00)
        transition: .5s ease-in-out
        transform-origin: left

  .home-title
    font-size 200px
    border none 
    background-color transparent
    color transparent
    text-transform uppercase
    font-family: 'Piedra', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD400;
    transition .5s ease-in-out
    cursor pointer
    outline none

    &:hover
      color: #FFD400

.header 
  position: fixed
  top: 2%
  width: 100vw
  z-index 100

.header-wrapper
  width: 100%
  display flex
  flex-flow row nowrap
  align-items center
  justify-content: space-around

.header-title
  font-family: 'Piedra', cursive;
  text-transform: uppercase
  font-size: 1em

.header-nav
  width: 50%
  display flex
  flex-flow row nowrap
  align-items center
  justify-content: space-around

  .object 
    width: 40px
    height: 40px
    background-color: #FFD400
    border-radius 50%
    transition .3s ease-in-out
    position relative
    cursor pointer

    svg
      width: 50%
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform translate(-50%,-50%)
      transition .3s ease-in-out

    &:hover
      transform: scale(1.6)

      svg
        .st0
          opacity: 1

  .selectedNav
    transform: scale(1.6)

    svg
      transform: translate(-50%,-50%)
      .st0
        opacity: 1  

  .line
    display flex
    flex-flow row nowrap
    align-items center
    justify-content: space-around
    position relative

    span
      width: 10px
      height: 2px
      background-color: #000
      margin: 0px 10px
      transition .5s ease-in-out

    .first-line
      position: absolute
      left: 0


.lab-mouse
  transform-origin: center right
  transform rotate(-90deg)
  p
    font-family: 'Roboto Mono', monospace;
    font-size: 30px
    display: inline-block
    vertical-align: middle

    strong 
      font-weight normal
  
  span 
    margin-left: 20px
    width: 40px
    height: 2px
    background-color: #000
    display: inline-block
    vertical-align: middle



.gun-fireshot
  position fixed
  bottom 12%
  right: 5%
  width: 500px
  transition: .5s ease-in-out

  .boxed
    width: 65px
    height: 65px
    border-top 2px solid #141414
    border-left 2px solid #141414
    position: absolute
    left: -30px
    top: -30px

 
  .bullet-fire
    display: flex
    flex-flow column nowrap
    align-items: flex-start
    justify-content: space-around

    .box-text
      .bullet-average
        font-size: 60px
        color: #FFD400
        font-family: 'Piedra', cursive;
        margin: 0
      
      .bullet-desc
        margin: 0
        font-family: 'Roboto Mono', monospace;

    .graph-bullet
      width: 100%

      .movie
        width: 80%
        position: relative

        &:hover
          .title-movie
            color #FFD400
          
          .bulletPerMovie
            background-color #FFD400
            transform-origin: left center
            transform scaleX(1.2)

            &::after
              opacity 1
              transform: translate(0%,-50%)

        .title-movie
          font-family: 'Piedra', cursive;
          text-transform: uppercase
          text-align: right
          width: 45%
          margin: 5px 10px
          color: #FFF
          font-size: 18px
          transition: .5s ease-in-out
          vertical-align middle
          display inline-block

        .bulletPerMovie
          width: 40%
          height: 10px
          background-color: #FFF
          margin-left: 10px
          transition: .5s ease-in-out
          vertical-align middle
          display inline-block

          &::after
            opacity 0
            transition: .5s ease-in-out
            color #000
            font-family: 'Roboto Mono', monospace;
            font-size 18px
            position: absolute
            top: 50%
            right: -50%
            padding-left: 20px
            transform translate(-50%,-50%)
        
      .pulp
        .bulletPerMovie
          width: 15%

          &::after
            content '15'
      
      .kill
        .bulletPerMovie
          width: 30%

          &::after
            content '60'
      
      .jackie
        .bulletPerMovie
          width: 8%

          &::after
            content '4'
      
      .inglorious
        .bulletPerMovie

          &::after
            content '450'
      
      .django
        .bulletPerMovie
          width: 32%
          &::after
            content '125'

       
          
          
          


.deathPerMovie
    position fixed
    bottom 13%
    left: 5%
    width: 350px
    display: flex
    flex-flow column nowrap
    align-items: flex-start
    justify-content: space-around
    transition: .5s ease-in-out

    .boxed
        width: 65px
        height: 65px
        border-top 2px solid #141414
        border-right 2px solid #141414
        position: absolute
        right: -30px
        top: -30px

    .death-title
      margin: 0
      font-size: 30px
      font-family: 'Piedra', cursive
      width: 100%
      text-align: right

      strong  
        font-weight: normal
        color: #FFD400

    .death-movie
      display: flex
      flex-flow: column nowrap
      align-items: flex-end
      justify-content: space-around
      width: 100%
      margin: auto

      .movie  
        margin: 10px
        width: 100% 

        &::after
          color #000000
          font-size 18px
          font-family: 'Roboto Mono', monospace;
          opacity 0
          transition: .5s ease-in-out
          position absolute
          

        &:hover
          &::after
            opacity 1
          p
            color: #FFD400

          svg
            .a
              stroke: #FFD400

            .b
              stroke: #FFD400
    
        p
          margin: 0
          width: 45%  
          font-family: 'Piedra', cursive
          font-size: 18px
          color: #FFF
          transition: .5s ease-in-out
          
        
        .movie-title
          text-align: right
          display: inline-block
          vertical-align: middle

        svg
          max-width: 50%
          display: inline-block
          vertical-align: middle
          margin: 0 10px
          transition: .5s ease-in-out

          .b
            transition: .5s ease-in-out

      .pulpFi
        &::after
          content: "7"
      .KillB
        &::after
          content: "62"
      .JackB
        &::after
          content: "3"
      .Inglor
        &::after
          content: "396"
      .DjangoU
        &::after
          content: "64"

    .scale-death
      display: flex
      flex-flow row nowrap
      align-items: center
      justify-content: space-between
      width: 100%
      margin-top 15px

      .death
        display: flex
        flex-flow row nowrap
        align-items: center
        justify-content: space-around

        img
          transform: scale(1.3)
          margin-right: 10px

        p
          font-size: 18px
          font-family: 'Piedra', cursive
          color: #FFF


.headshotPerMovie
  position fixed
  top 15%
  left: 10%
  width: 300px
  display: flex
  flex-flow column nowrap
  align-items: center
  justify-content: space-around
  transition: .5s ease-in-out

  .boxed
    width: 65px
    height: 65px
    border-bottom 2px solid #141414
    border-right 2px solid #141414
    position: absolute
    right: -30px
    bottom: -30px

  .headshot-text
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-around

    p
      margin 10px 0
      transition .5s ease-in-out

    .headshot-info
      font-family: 'Roboto Mono', monospace;
      color: #000
      font-size: 18px
      max-width: 70%
      font-weight bold

    .nmb-headshot 
      color: #FFD400
      font-size: 60px
      font-family: 'Piedra', cursive

  .headshot-graph
    display flex
    flex-flow row nowrap
    align-items: flex-end
    justify-content: space-around
    width: 80%

    .movie
      width: 10px
      background-color: #FFF
      transition .3s ease-in-out
      cursor pointer

      &:hover
        transform: scale(1.2)
        background-color #FFD400
        transform-origin: center bottom

    .pulp
      height:25px
    
    .kill
      height:35px
    .jackie
      height:10px
    .inglorious
      height:70px
    .django
      height:45px

    .head-selected
      background-color: #FFD400

.temperature
  position fixed
  bottom 10%
  left: 5%
  width: 400px
  transition: .5s ease-in-out

  .boxed
    width: 65px
    height: 65px
    border-top 2px solid #141414
    border-right 2px solid #141414
    position: absolute
    right: -30px
    top: -30px

  .temperature-content
    display flex
    flex-flow column nowrap
    align-items center
    justify-content: space-around

    .title-temperature
      font-family: 'Piedra', cursive
      font-size: 25px
      color: #000
      text-align: center

      strong
        color #FFD400

    img
      width: 20%
      cursor pointer
      transition .5s ease-in-out

      &:hover
        transform scale(1.2)
  
.explosion-death
  position fixed
  bottom 10%
  right: 5%
  width: 450px
  transition: .5s ease-in-out
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: space-around

  .boxed
    width: 65px
    height: 65px
    border-top 2px solid #141414
    border-left 2px solid #141414
    position: absolute
    left: -30px
    top: -30px
  
  .explosion-text
    display flex
    flex-flow column nowrap
    align-items: flex-start

    .explosion-nmb  
      font-family: 'Piedra', cursive
      color #FFD400
      font-size: 60px
      margin: 0

    .explosion-desc
      font-family: 'Roboto Mono', monospace;
      color: #000
      font-size: 18px
      margin: 0
      font-weight bold
  
  .explosion-graph
    display flex
    flex-flow column nowrap
    align-items: flex-start
    justify-content: space-around
    width: 100%
    

    .explosion-movie
      width: 80%
      transition .5s ease-in-out

      &:hover
        .movie-title
          color #FFD400

        .bar-django
          background-color #FFD400
          width: 20%

        .bar-inglorious
          background-color #FFD400
          width: 42.5%


      .movie-title
        width: 45%
        text-align: right
        font-family: 'Piedra', cursive
        color #FFF
        font-size: 18px
        margin-right: 10px
        display: inline-block
        transition .5s ease-in-out

      .bar-django
        width: 15%
        height: 15px
        background-color: #FFF
        display: inline-block
        margin-right: 10px
        transition .5s ease-in-out

      .bar-inglorious
        width: 40%
        height: 15px
        background-color: #FFF
        display: inline-block
        margin-right: 10px
        transition .5s ease-in-out

      .movie-nb
        font-family: 'Roboto Mono', monospace;
        color: #000
        font-size: 18px
        display: inline-block
        transition .5s ease-in-out

.katana-blood
  position fixed
  bottom 35%
  left: 10%
  width: 250px
  transition: .5s ease-in-out
  display: flex
  flex-flow: column nowrap
  align-items: flex-start

  .boxed
    width: 65px
    height: 65px
    border-top 2px solid #141414
    border-right 2px solid #141414
    position: absolute
    right: -30px
    top: -30px

  .liter
    font-family: 'Piedra', cursive
    color #FFD400
    font-size: 30px
    width: 100%
    text-align: right
    margin: 0

  .blood-desc
    margin: 0
    font-family: 'Piedra', cursive
    color #000
    font-size: 30px
    width: 100%
    text-align: right

.katana-death
  position fixed
  top 30%
  right: 15%
  width: 250px
  transition: .5s ease-in-out
  display: flex
  flex-flow: column nowrap
  align-items: flex-start

  .boxed
    width: 65px
    height: 65px
    border-bottom 2px solid #141414
    border-left 2px solid #141414
    position: absolute
    left: -30px
    bottom: -30px

  .katana-deathNb
    font-family: 'Piedra', cursive
    color #FFD400
    font-size: 60px
    width: 100%
    text-align: left
    margin: 0

  .katana-desc
    margin: 0
    font-family: 'Roboto Mono', monospace;
    color #000
    font-size: 18px
    width: 80%
    font-weight bold

.insult-nb-container
  position fixed
  bottom 20%
  left: 10%
  width: 200px
  transition: .5s ease-in-out
  display: flex
  flex-flow: column nowrap
  align-items: flex-end

  .boxed
    width: 65px
    height: 65px
    border-top 2px solid #141414
    border-right 2px solid #141414
    position: absolute
    right: -30px
    top: -30px

  .insult-number
    font-family: 'Piedra', cursive
    color #FFD400
    font-size: 60px
    width: 100%
    text-align: right
    margin: 0

  .insult-text
    margin: 0
    font-family: 'Roboto Mono', monospace;
    color #000
    font-size: 18px
    width: 80%
    text-align: right
    font-weight bold

.insult-podium
  position fixed
  top 15%
  right: 10%
  width: 300px
  transition: .5s ease-in-out
  display: flex
  flex-flow: column nowrap
  align-items: center

  .boxed
    width: 65px
    height: 65px
    border-bottom 2px solid #141414
    border-left 2px solid #141414
    position: absolute
    left: -30px
    bottom: -30px

  .podium-title
    font-family: 'Piedra', cursive
    color #000
    font-size: 30px
    width: 100%
    margin: 0

    strong
      color #FFD400
      font-weight: normal

  .podium
    position: relative
    height: 200px
    width: 100%
    margin-top 25px

    .scdn-place
      display: flex
      flex-flow: column nowrap
      align-items: center
      position: absolute
      left: 0
      bottom: 0
      z-index 10
      
      &:hover
        .scnd-step
          transform-origin: center bottom
          transform: scale(1.2)

      .scnd-place-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
        font-weight: bold

      .scnd-step
        clip-path: polygon(49% 0, 10% 100%, 90% 100%);
        background-color: #FFF
        width: 85px
        height: 95px
        box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        transition .5s ease-in-out
        transform-origin: center bottom

      .data-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
          
    
    .first-place
      display: flex
      flex-flow: column nowrap
      align-items: center
      position: absolute
      left: 15%
      bottom: 0
      z-index 20

      &:hover
        .first-step
          transform-origin: center bottom
          transform: scale(1.2)

      .first-place-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
        font-weight: bold

      .first-step
        clip-path: polygon(49% 0, 10% 100%, 90% 100%);
        background-color: #FFD400
        width: 85px
        height: 135px
        box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        transition .5s ease-in-out
        transform-origin: center bottom

      .data-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
    
    .third-place
      display: flex
      flex-flow: column nowrap
      align-items: center
      position: absolute
      left: 30%
      bottom: 0
      z-index 20

      &:hover
        .third-step
          transform-origin: center bottom
          transform: scale(1.2)

      .third-place-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
        font-weight: bold

      .third-step
        clip-path: polygon(49% 0, 10% 100%, 90% 100%);
        background-color: #FFF
        width: 85px
        height: 70px
        box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        transition .5s ease-in-out
        transform-origin: center bottom
      
      .data-insult
        font-family: 'Roboto Mono', monospace;
        color #000
        font-size: 18px
          


.object-0
  .trigger4,.trigger5,.trigger6,.trigger7,.trigger8,.trigger9
    display: none

.object-5
  .trigger1,.trigger2,.trigger3,.trigger6,.trigger7,.trigger8,.trigger9
    display: none

  .for5
    width: 100% !important

.object-10
  .trigger1,.trigger2,.trigger3,.trigger4,.trigger5,.trigger8,.trigger9
    display: none
  
  .for5
    width: 100% !important
    

  .for10
    width: 100% !important

.object-15
  .trigger1,.trigger2,.trigger3,.trigger4,.trigger5,.trigger6,.trigger7
    display: none

  .for5
    width: 100% !important

  .for10
    width: 100% !important

  .for15
    width: 100% !important



// **************
// Button trigger
// **************
.btn
  width 30px
  height 30px
  border-radius 50%
  background-color #000
  position absolute
  border none
  outline none
  cursor pointer
  transition .5s ease-in-out
  z-index: 100

  &::after
    content url('../assets/round-btn.svg')
    position absolute
    transform-origin: center
    transform translate(-50%, -50%)
    width 50px
    height 50px
    animation rotationRound 10s infinite linear
    transition .2s ease-in-out

  &:hover
    background-color #FFD400
    transform scale(1.2)

    &::after
      opacity: 0

.isSelected
  background-color #FFD400
  transform scale(1.2)

  &::after
    opacity: 0



.moving-bande
  position: absolute
  bottom: 5%
  right: 5%
  width: 50px
  height: 200px
  display: flex
  flex-flow: row nowrap
  align-items: flex-end
  justify-content: space-around

  .bande
    width: 5px
    height: 40px
    background-color: #000
    transition: .2s ease-out
    transform-origin: center bottom
    // transform rotate(-180deg)

  .b1
    animation growing 2s ease-in-out infinite alternate
  
  .b2
    animation growing 3s ease-in-out 1s infinite alternate
 
  .b3
    animation growing 4s ease-in-out 0.5s infinite alternate
  
  .b4
    animation growing 2.5s ease-in-out 0.5s infinite reverse



@keyframes rotationRound {

  0%{
    transform translate(-50%,-50%) rotate(0)  
  }
  100%{
    transform translate(-50%, -50%) rotate(360deg)  
  }

}

@keyframes growing {

  0%{
    height: 40px  
  }
  30%{
    height: 15px  
  }
  50%{
    height: 65px  
  }
  75%{
    height 45px  
  }
  85%{
    height 15px  
  }
  100%{
    height: 55px  
  }
}
  
    
