html, body
  margin 0
  padding 0
  overflow hidden
  position: relative
canvas
  width 100%
  height 100%
  outline none

.openIntro
  transform: translateX(-150%)

.intro
  background-color #141414
  width 100%
  height 100%
  position: fixed
  z-index 9999
  top: 0
  display flex
  flex-flow row wrap
  align-items: center
  justify-content: space-around
  margin 0
  overflow: hidden
  transition .5s ease-in-out

  .home-title
    font-size 200px
    border none 
    background-color transparent
    color transparent
    text-transform uppercase
    font-family: 'Piedra', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD400;
    transition .5s ease-in-out
    cursor pointer
    outline none

    &:hover
      color: #FFD400

.header 
  position: fixed
  top: 2%
  width: 100vw

.header-wrapper
  width: 100%
  display flex
  flex-flow row nowrap
  align-items center
  justify-content: space-around

.header-title
  font-family: 'Piedra', cursive;
  text-transform: uppercase
  font-size: 1em

.header-nav
  width: 50%
  display flex
  flex-flow row nowrap
  align-items center
  justify-content: space-around

  .object 
    width: 40px
    height: 40px
    background-color: #FFD400
    border-radius 50%
    transition .3s ease-in-out
    position relative
    cursor pointer

    svg
      width: 50%
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform translate(-50%,-50%)
      transition .3s ease-in-out

    &:hover
      transform: scale(1.6)

      svg
        .st0
          opacity: 1

  .selectedNav
    transform: scale(1.6)

    svg
      transform: translate(-50%,-50%) scale(1.6)

  .line
    display flex
    flex-flow row nowrap
    align-items center
    justify-content: space-around

    span
      width: 10px
      height: 2px
      background-color: #000
      margin: 0px 10px

.lab-mouse
  transform-origin: center right
  transform rotate(-90deg)
  p
    font-family: 'Roboto Mono', monospace;
    font-size: 30px
    display: inline-block
    vertical-align: middle
  
  span 
    margin-left: 20px
    width: 40px
    height: 2px
    background-color: #000
    display: inline-block
    vertical-align: middle



.gun-fireshot
  position fixed
  bottom 10%
  right: 5%
  width: 400px

  .boxed
    width: 65px
    height: 65px
    border-top 1px solid #141414
    border-left 1px solid #141414
    position: absolute
    left: -30px
    top: -30px

 
  .bullet-fire
    display: flex
    flex-flow column nowrap
    align-items: flex-start
    justify-content: space-around

    .box-text
      .bullet-average
        font-size: 60px
        color: #FFD400
        font-family: 'Piedra', cursive;
        margin: 0
      
      .bullet-desc
        margin: 0
        font-family: 'Roboto Mono', monospace;

    .graph-bullet
      width: 100%
      .movie
        width: 80%
        display flex
        flex-flow row nowrap
        align-items: center
        justify-content: space-around

        &:hover
          .title-movie
            color #FFD400
          
          .bulletPerMovie
            background-color #FFD400

        .title-movie
          font-family: 'Piedra', cursive;
          text-transform: uppercase
          text-align: right
          width: 45%
          margin: 5px 10px
          color: #FFF
          font-size: 14px
          transition: .5s ease-in-out

        .bulletPerMovie
          width: 40%
          height: 10px
          background-color: #FFF
          margin-left: 10px
          transition: .5s ease-in-out
        
.deathPerMovie
    position fixed
    bottom 5%
    left: 5%
    width: 200px
    display: flex
    flex-flow column nowrap
    align-items: flex-start
    justify-content: space-around

    .boxed
        width: 65px
        height: 65px
        border-top 1px solid #141414
        border-right 1px solid #141414
        position: absolute
        right: -30px
        top: -30px

    .death-title
      margin: 0
      font-size: 30px
      font-family: 'Piedra', cursive
      width: 100%
      text-align: right

      strong  
        font-weight: normal
        color: #FFD400

    .death-movie
      display: flex
      flex-flow: column nowrap
      align-items: flex-end
      justify-content: space-around
      width: 100%
      margin-right: 40px

      .movie  
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: space-around
        margin: 10px 0
        width: 100%

        &:hover
          p
            color: #FFD400

        p
          margin: 0
          width: 45%  
          font-family: 'Piedra', cursive
          font-size: 14px
          color: #FFF
          transition: .5s ease-in-out
        
        .movie-title
          text-align: right

    .scale-death
      display: flex
      flex-flow row nowrap
      align-items: center
      justify-content: space-between
      width: 100%

      .death
        display: flex
        flex-flow row nowrap
        align-items: center
        justify-content: space-around

        img
          transform: scale(1.3)
          margin-right: 10px

        p
          font-size: 14px
          font-family: 'Piedra', cursive
          color: #FFF
















// **************
// Button trigger
// **************
.btn
  width 30px
  height 30px
  border-radius 50%
  background-color #000
  position absolute
  border none
  outline none
  cursor pointer
  transition .5s ease-in-out

  &::after
    content url('../assets/round-btn.svg')
    position absolute
    transform-origin: center
    transform translate(-50%, -50%)
    width 50px
    height 50px
    animation rotationRound 10s infinite linear
    transition .2s ease-in-out

  &:hover
    background-color #FFD400
    transform scale(1.2)

    &::after
      opacity: 0


@keyframes rotationRound {

  0%{
    transform translate(-50%,-50%) rotate(0)  
  }
  100%{
    transform translate(-50%, -50%) rotate(360deg)  
  }

}
    
